* {
    margin: 0px;
    padding: 0px;
}

ul {
    background-color: yellow;
}

ul li {
    font-size: 2em;
    padding: 3px 0 0 10px;
    border-top:thick solid black;
    border-right:thick solid black;
    border-left:thick solid black;
    /* text-align: center; */
}

ul li:last-child {
    border-bottom: thick solid black;
}